koala-security-org/koala-security-org-facade-impl/src/main/resources/META-INF/securityOrgSystemInit/systemInit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/systemInit"
	xmlns:tns="http://www.example.org/systemInit" elementFormDefault="qualified">

	<element name="systemInit">
		<complexType>
			<sequence>
				<element name="User">
					<complexType>
						<attribute name="name" type="string" use="required" />
						<attribute name="username" type="string" use="required" />
						<attribute name="createOwner" type="string" />
						<attribute name="description" type="string" />
					</complexType>
				</element>
				<element name="role">
					<complexType>
						<attribute name="name" type="string" use="required" />
						<attribute name="description" type="string" />
					</complexType>
				</element>
				<element name="menuResource" maxOccurs="unbounded">
					<complexType>
						<attribute name="id" type="int" use="required" />
						<attribute name="name" type="string" use="required" />
						<attribute name="description" type="string" />
						<attribute name="menuIcon" type="string" fixed="glyphicon  glyphicon-list-alt" />
						<attribute name="url" type="string" />
						<attribute name="pid" type="int" />
					</complexType>
				</element>
				<element name="urlAccessResource" maxOccurs="unbounded">
					<complexType>
						<attribute name="name" type="string" use="required" />
						<attribute name="url" type="string" use="required" />
					</complexType>
				</element>
				<element name="pageElementResource" maxOccurs="unbounded">
					<complexType>
						<attribute name="name" type="string" use="required" />
						<attribute name="url" type="string" use="required" />
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	
</schema>